/* 
====== 
Error
======
*/

.error-section {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
}
.error-section-title {
  font-size: 1.2rem;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}
.no-product-img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  margin-top: -3rem;
  object-fit: contain;
}
.error-image {
  display: block;
  width: 10%;
  margin: 0 auto;
  margin-top: 1rem;
  object-fit: contain;
}
.error-url {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  object-fit: contain;
}
.btn-plus {
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  border-width: 1px;
  border-radius: 10px;
  background-color: var(--primaryLightColor);
  text-decoration: none;
  cursor: pointer;
}
.btn-plus:hover {
  text-decoration: underline var(--primaryLightColor);
  background-color: var(--primaryDarkColor);
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .no-product-img {
    max-width: 550px;
    margin: 0 auto;
    margin-top: -5rem;
    object-fit: contain;
  }
  .error-image {
    margin-top: 0;
  }
  .btn-plus {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) {
  .error-section-title {
    font-size: 0.9rem;
    letter-spacing: 0.2;
    margin: 1rem 0 0 0;
  }
  .no-product-img {
    width: 45%;
  }
  .error-image {
    width: 20%;
    margin-top: 1rem;
  }
  .error-container .btn-plus {
    margin-top: 2rem;
  }
  .error-url {
    width: 45%;
    margin: 1.5rem auto;
  }
}
