/* 
====== 
Footer
======
*/

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: -4rem;
  background-color: var(--primaryLightColor);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-img {
  width: 100%;
  max-width: 177px;
  height: auto;
}
.download-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.download-app h4 {
  color: var(--mainWhite);
  letter-spacing: 0;
  justify-content: center;
  font-weight: 300;
  margin-bottom: 0;
  margin-right: 1rem;
}
.download-app .app-img {
  width: 100%;
  max-width: 100px;
  margin-right: 1rem;
  object-fit: contain;
  height: auto;
}

@media screen and (min-width: 1280px) {
  .download-app h4 {
    font-size: 1.7rem;
    font-weight: 200;
  }
  .download-app .app-img {
    max-width: 160px;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    justify-content: center;
    height: 7rem;
  }
  .logo-img {
    width: 100%;
    max-width: 190px;
    height: auto;
  }
  .download-app h4 {
    display: none;
  }
}
